
div .colorOrange
{
	color: orange;
	position: relative;
	top:1px;
	height: auto;
	font-weight: 500;
	font-size: larger;
}


.accountLogin
{
	float: right;
	position: relative;
	right: 10%;
	top:0px;
	font-size: large;
}


a
{
	color: orange;
	font-size: large;
	font-weight: 50;
}


input .form-group
{
    position: relative;
    top:1px;
    right: 5px;
    max-width: 100%;
    min-width: 100%;
  
}

.navbar-left h3
{
	position: relative;
	top:1px;
	color: orange;
}



input[type="text"]
 {
    height: 40px;
    left: 5px;
    right: 5px;
    min-width: 100%;
    max-width: 100%;
         font-size: medium;
  font-weight: 600;
}

.input-group-btn button[type="submit"] 
{
	min-width: 100%;
    height: 40px;
    background-color: orange;
    max-width: 100%;
    margin-left: 100%;
}

 nav
  {  
  min-height: 20px;
 
    
}
